<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title></title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>

</head>
<body>
    <p><span style="background-color: #28a745;padding:5px 7px;border-radius:5px; color:#fff;">@tit-vn</span> - Thông tin chi tiết.</p>
    <table width="90%" style="padding-top: 10px; border: 1px solid black">
        <thead style="font-weight: bolder">
            <tr>
                <th>Title</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            @tbody
        </tbody>
    </table>
    <p>
        <i>Chú ý:</i> Đây là mail tự động gửi thông báo từ hệ thống <a href="http://dmvnapp_dcweb/" target="_blank"><strong>DC WEB</strong></a> không trả lời nội dung này.
    </p>
</body>
</html>