@using ASP.BaseCommon
@using ASP.Controllers.Admin
@using ASP.Models
@using ASP.Policies
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http.Extensions
@using ReflectionIT.Mvc.Paging
@inject IAuthorizationService AuthorizationService
@addTagHelper *, ReflectionIT.Mvc.Paging
<link rel="stylesheet" href="~/css/Home.css" />
@{
    ViewData["Title"] = "Home";
    Layout = "../Shared/Layout/Front/_Layout";
}

<!-- Warehouse Image Banner -->
<div class="warehouse-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <img src="~/images/warehouse.jpg"
                     alt="Denso Warehouse Image"
                     class="img-fluid warehouse-image"
                     style="width: 100%; height: auto; border-radius: 0; box-shadow: none; margin: 0; padding: 0;" />
            </div>
        </div>
    </div>
</div>