@{
    ViewData["Title"] = "Privacy Policy";
     Layout = "../Shared/Layout/Front/_Layout";
}
<h1>@ViewData["Title"]</h1>


<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
@section Scripts {
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript">
    "use strict";

var connection = new signalR.HubConnectionBuilder().withUrl("~/privacyHub").configureLogging(signalR.LogLevel.Information).build();
    connection.start().then(() => {
      let mes = localStorage.getItem("srID");
      // call hub methods from the client
      connection.invoke("SendMessage", mes).catch(function (err) {
        return console.error(err.toString());
      });
    });
    connection.on("ReceiveMessage", function (mes, mcount) {
        var li = document.createElement("li");
        document.getElementById("messagesList").appendChild(li);
        // We can assign user-supplied strings to an element's textContent because it
        // is not interpreted as markup. If you're assigning in any other way, you 
        // should be aware of possible script injection concerns.
        if(mes != mcount){
            localStorage.setItem("srID", mcount);
            li.textContent = `mes ${mes} ;mcount ${mcount}`;
        }else{
            li.textContent = `mes ko refresh`;
        }
    });
    </script>
    <script>
        //localStorage.getItem("srID");
    //localStorage.setItem("srID", "0"); 
    </script>
}