@model ASP.Models.Admin.Accounts.ApplicationUser

@{
    ViewData["Title"] = "Thành viên - Cập nhật Mật khẩu";
    Layout = "../Shared/Layout/Admin/_Layout";
}

<div class="content-wrapper" style="min-height: 422px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-route="admin.accounts"><i class="fa fa-users"></i> Thành viên</a></li>
                        <li class="breadcrumb-item active"> Sửa</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="box box-primary card-body">
                <!-- /.box-header -->
                <form method="POST" asp-controller="Account" asp-action="ResetPassword" asp-route-id="@Model.Id" accept-charset="UTF-8" class="" enctype="multipart/form-data">
                    <input asp-for="Id" type="hidden" />
                    <div class="box-body">
                        <div class="row">
                            <!-- /.col -->
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label asp-for="PassWord"></label>
                                    <div class="form-group-eyes" style="position:relative;">
                                        <input asp-for="PassWord" placeholder="Nhập Password" class="form-control" type="password" value="@Model.PasswordHash" />
                                        <a title="Hiển thị PassWord!" class="input-group-addon2" style="position: absolute; right: 0px;top: 0px;height: 38px; padding: 6px 12px; background-color: #ccc;" href="#" onclick="myFunction2()">
                                            <i id="Value2-i" class="fas fa-eye-slash"></i>
                                        </a>
                                    </div>
                                    <span asp-validation-for="PassWord" class="text-danger"></span>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label asp-for="RePassWord"></label>
                                    <input asp-for="RePassWord" placeholder="Nhập lại Password" class="form-control" type="password" value="@Model.PasswordHash" />
                                    <span asp-validation-for="RePassWord" class="text-danger"></span>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-right">
                        <a class="btn btn-default" asp-route="admin.accounts"><i class="fas fa-arrow-circle-left"></i> Quay lại</a>
                        <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> Lưu</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            // jQuery
        });
        function myFunction2() {
            var x = document.getElementById("PassWord");
            if (x.type === "password") {
                x.type = "text";
                //fas fa-eye-slash
                document.getElementById("Value2-i").className = "fas fa-eye";

            } else {
                x.type = "password";
                document.getElementById("Value2-i").className = "fas fa-eye-slash";

            }
            //
        }
    </script>
}