<footer class="custom-footer">
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; padding: 0 20px;">
        <img src="https://1000logos.net/wp-content/uploads/2020/08/DENSO-Logo.png" alt="DENSO Logo" style="height: 50px;">
        <p style="margin: 0; font-weight: bold;">DENSO MANUFACTURING VIETNAM CO.,LTD.</p>
    </div>
    <p style="font-size: 18px; color: white; margin-top: 10px; text-align: center; padding: 0 20px;">
        Developed By Dương Minh
    </p>
</footer>