<!-- Footer -->
<footer class="custom-footer">
    <div class="text-center">
        <p>
            <img src="https://1000logos.net/wp-content/uploads/2020/08/DENSO-Logo.png" alt="DENSO Logo" style="height: 50px; margin-bottom: 20px;">
            DENSO MANUFACTURING VIETNAM CO.,LTD.
        </p>
        <p style="font-size: 16px; color: black; margin-top: 10px;">
            Developed By Dương Minh
        </p>
    </div>
</footer>